<%= gravatar_for(current_user) %>
   <h2><%= current_user.name %></h2>
   <h4><%= link_to 'Visit my profile', current_user %></p>
   <h5>(<%= pluralize(current_user.microposts.count ,'Micropost' ) %>)</h5>
   <%= render 'microposts/micropost_form' %>